<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://diziflix.local/DiziFlix"
        version="1.0.11"
        viewmodes="maximized">
  <tizen:application id="dzfLX00001.DiziFlix"
                     package="dzfLX00001"
                     required_version="2.4"/>
  <tizen:profile name="tv"/>
  <name>DIZIFLIX</name>
  <description>DIZIFLIX TV istemcisi</description>
  <author email="dev@diziflix.local">diziflix</author>
  <content src="index.html"/>
  <icon src="icon.png"/>
  <access origin="*" subdomains="true"/>
  <tizen:allow-navigation>*</tizen:allow-navigation>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="enable"/>
</widget>
